.islandora-matomo-stats-box {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.islandora-matomo-stats-box i {
    margin-left:0.5em;
}
div.islandora-matomo-stats-legend {
    clear:none;
    float:left;
}